
<link rel="stylesheet" href="/stylesheets/main.css">

<h1>YoYaPa editoorrr !!</h1>

        <button id="c" class="btn active">C</button>
        <button id="cpp" class="btn">CPP14</button>
        <button id="java" class="btn">JAVA8</button>
        <button id="python" class="btn">PYTHON3</button>
        <button id="javascript" class="btn">JAVASCRIPT</button>

<form action="/"  method="POST">
     
<input type="text" id="text" name="lang" value="C">
<textarea name="code" id="code" cols="100" rows="32" placeholder="write your code here!!" ></textarea>
 
<textarea name="input" id="input" cols="30" rows="13" placeholder="input goes here!!" ></textarea>
<br>

<div id="time"><span id="ts">Time: </span> <%= out.time %> </div>
<div id="status"><span id="ts">Status: </span> <%= out.status %></div>

<textarea name="output" id="output" cols="30" rows="13" placeholder="output shows here!!" ><%= out.output %></textarea>
<br>
<button id="submit">Compile & Run</button>

</form>

<script src="/js/main.js"></script>