
<link rel="stylesheet" href="/stylesheets/main.css">

<h1>YoYaPa editoorrr !!</h1>

<button id="btn">cpp</button>
<button id="btn">java</button>

<form action="/"  method="POST">
    <!-- <div> -->
<textarea name="code" id="code" cols="120" rows="40" placeholder="write your code here!!" ></textarea>
<!-- </div> -->
<!-- <div>  -->
<textarea name="input" id="input" cols="35" rows="19" placeholder="input goes here!!" ></textarea>
<br>
<textarea name="output" id="output" cols="35" rows="17" placeholder="output shows here!!" ></textarea>
<!-- </div> -->
    <br>
<button id="submit">Comile & Run</button>

</form>

<script src="/js/main.js"></script>