*{
    background-color: rgb(12, 17, 8);
}

h1{
    text-align: center;
    color: rgb(144, 59, 230);
    font-weight: bold;
}

.btn{
    display: inline-block;
    color: rgb(238, 238, 98);
    background-color: rgb(67, 13, 82);
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-style: hidden;
    border-radius: 10%;
}

.active{
    border: 2px solid rgb(50, 43, 114);
    color: rgb(76, 185, 204);
    background-color: rgb(19, 16, 18);
}

#code{
    float: left;
    resize: none;
    border-style: solid;
    border-color: rgb(65, 53, 46);
    color: black;
    /* display: inline-block; */
    margin-right: 50px;
    margin-left: 10px;
    padding: 5px;
}

#input{
    resize: none;
    border-style: solid;
    border-color: rgb(65, 53, 46);
    color: black;
    display: inline-block;
    /* margin-right: 50px; */
    margin-bottom: 10px;
}

#output{
    resize: none;
    border-style: solid;
    border-color: rgb(65, 53, 46);
    color: rgb(21, 18, 24);
    /* margin-right: 50px; */
    /* margin-bottom: 10px; */
    display: block;
}

#submit{
    display: inline-block;
    color: rgb(165, 42, 69);
    background-color: rgb(44, 36, 46);
    padding: 4px;
    border-style: hidden;
    border-radius: 10%;
}

#ts{
    font-size: medium;
    font-weight: 400;
    color:blueviolet;
    display: inline-block;
}

#status{
    margin-bottom: 10px;
    display: block;
    color: yellowgreen;
}

#time{
    display: block;
    color: yellowgreen;
}

#code,#output,#input{
   background-color: black;
   color:rgb(94, 153, 201);
   /* line-height: 1.6; */
}

input[type="text"]{
    display: none;
}