*{
    background-color: rgb(12, 17, 8);
}

h1{
    text-align: center;
    color: rgb(59, 127, 230);
    font-weight: bold;
    text-shadow: 2px 2px rgb(25, 37, 148);
}

.btn{
    display: inline-block;
    color: rgb(238, 238, 98);
    background-color: rgb(94, 7, 105);
    padding: 5px;
    margin-bottom: 7px;
    margin-left: 10px;
    border-style: hidden;
    border-radius: 10%;
}

.active{
    border: 2px solid rgb(50, 43, 114);
    color: rgb(76, 185, 204);
    background-color: rgb(19, 16, 18);
}

#code{
    float: left;
    resize: none;
    color: black;
    margin-left: 10px;
    padding: 5px;
}

#input{
    resize: none;
    color: black;
    display: inline-block;
    margin-bottom: 10px;
}

#output{
    resize: none;
    color: black;
    display: block;
}

#submit{
    display: inline-block;
    color: rgb(124, 23, 23);
    background-color: rgb(25, 24, 26);
    padding: 5px;
    border-style: hidden;
    border-radius: 10%;
    font-size: 15px;
    margin-left: 85px;
}

#ts{
    font-size: medium;
    font-weight: 400;
    color:blueviolet;
    display: inline-block;
    font-size: large;
    margin-left: 85px;
}

#status{
    margin-bottom: 10px;
    display: block;
    color: yellowgreen;
    font-size: large;
}

#time{
    display: block;
    color: yellowgreen;
    margin-bottom: 5px;
    font-size: large;
}

#code,#output,#input{
   background-color: black;
   color: white;
   font-size: large;
   line-height: 1.2;
   border: 2px solid rgb(124, 23, 23);
   border-radius: 2%;
}

input[type="text"]{
    display: none;
}

textarea:focus { 
    outline: none !important;
    box-shadow: 0 0 3px #ce717e;
}

.btn:hover{
    border: 2px solid rgb(228, 46, 228);
}

.active:hover{
    border: 2px solid blue;
}

#submit:hover{
    border: 2px solid rgb(190, 36, 69);
}

.btn:focus{
    outline: none !important;
}

.active:focus{
    outline: none !important;
}

#submit:focus{
    outline: none !important;
}

.btn:first-of-type{
    margin-left: 25px;
}

.copy1:hover,.reset:hover{
    background-color: rgb(190, 36, 69);
}

#cpy{
    position: relative;
    width: 345px;
  height: 250px;
  /* border: 3px solid #73AD21; */
  margin-left: 1005px;
}

.copy1{
    position: absolute;
    top: 0;
    right: 8px;
    color: rgb(248, 246, 246);
    border-radius: 10%;
    outline: none;
    border: 2px solid rgb(124,23,23);
    border-left: 0px;
    padding: 5px;
    margin-top: 5px;
}

.reset{
   color: rgb(248, 246, 246);
    border-radius: 10%;
    outline: none;
    border: 2px solid rgb(124,23,23);
    padding: 5px;
}

#reset1{
    margin-left: 460px;
    margin-right: 5px;
}
